section {
  color: white;
  background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
  padding-top: 4px;
  border-radius: 10px;

  h2 {
    letter-spacing: -0.47px;
    margin-bottom: 8px;
  }

  p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;

    li {
      transition: .3s;
    }

    li:hover {
      transform: scale(1.1);
    }
  }

  .games-list img {
    width: 90px;
    border-radius: 8px;
  }

  .channel-list img {
    width: 70px;
    border-radius: 50%;
    border: 1px solid #443E54;
  }

  div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
  }
}

/* animation */

main section {
  animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
  animation-delay: 0;
}

main section:nth-child(2) {
  animation-delay: .4s;
}

main section:nth-child(3) {
  animation-delay: .8s;
}

@keyframes fromBottom {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}