@import '../src/components/Header/style.scss';
@import '../src/components/Cards/style.scss';
@import '../src/components/Footer/style.scss';

html,
body {
  background-image: url(../src/assets/bg.jpg);
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #121214;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  line-height: 160%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}
