.container {
  padding: 4rem 2rem;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
 max-width: 580px;
 width: 90%;
 margin: auto;
 display: grid;
 gap: 24px;
 margin-top: 32px;
}

.footer {
  margin-top: 32px;
}

